* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

nav a {
  color: #211f1f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style: none;
}

nav {
  display: none;
}

.show {display:block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  /* background: green; */
  /* 1 rem entspricht 16 Pixel */
  padding-left: 1rem;
  padding-right: 1rem;
}

button{
  border: 0;
  background: transparent;
}

/* display block ist der Normalzustand eines Display, heißt wird angezeigt */
@media (min-width:1024px) {
  nav {
    display: block;
  }

  button {
    display: none;
  }

  nav ul {
    display: flex;
  }

  li {
    margin-right: 16px;
  }
  header{
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Die Element ID wird mit Raute + ID angesprochen  */

#hero{
  background-image: url("img/intro.jpg");
  /* 100 Viewport Height */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align:center;
  display:flex;
  justify-content:center;
  align-items: center;
  }

.button{
  background-color: #fff;
  color: #374A67;
  border: solid 2px #374A67;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75);
  text-align: center ease;
  /* Transition Übergang beim hovern */
  transition: all 0.4s;
  display: inline-block;

}
/* Peudo Selektor - nur dann wenn der User etwas macht , dann ändert sich,
in diesem Fall wenn er über den Button hovert*/
.button:hover{
  background-color: #374A67;
  color:#fff ;
  border-color:#fff;

}
